#plugin__tplinc {

    td {
        white-space: nowrap;

        select {
            max-width: 15em;
        }
    }

    td.drag {
        padding: 0;
        vertical-align: middle;
        text-align: center;

        svg {
            width: 2em;
            height: 2em;
            fill: @ini_text;
            cursor: ns-resize;
        }
    }
    .ui-sortable-helper {
        cursor: ns-resize;
    }
}
